[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pydantic = "*"
sqlalchemy = "*"
opentelemetry-api = "*"
opentelemetry-sdk = "*"
opentelemetry-instrumentation-fastapi = "*"
opentelemetry-exporter-otlp = "*"
pytest = "*"
uvicorn = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
